@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ParkingZoneApp.ViewModels.ParkingSlotViewModels

@model IEnumerable<ListOfParkingSlotsVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parking Slots @ViewData["parkingZoneName"]</h1>

<p>
    <a asp-controller="ParkingSlot" asp-action="Create" class="btn btn-primary" asp-route-parkingZoneId="@ViewData["parkingZoneId"]">Create New</a>
    <a asp-controller="ParkingZone" asp-action="Index" class="btn btn-success">Back</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailableForBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>  
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailableForBooking)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
